<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--数据库连接驱动 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--链接地址用户名密码 -->
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/ichat?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false</property>

        <property name="connection.username">root</property>
        <property name="connection.password">admin123</property>
        <!-- JDBC链接池大小-->
        <property name="connection.pool_size">5</property>
        <!--SQL方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialet</property>

        <!--Hibernate session 上下文为线程级别 -->
        <property name="current_session_context_class">thread</property>
        <!--配置C3P0缓存连接池 -->
        <property name="cache.provider_class">org.hibernate.c3p0.internal.</property>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>