<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--数据库连接驱动 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--链接地址用户名密码 -->
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/ichat?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false</property>

        <property name="connection.username">root</property>
        <property name="connection.password">admin123</property>
        <!-- JDBC链接池大小-->
        <property name="connection.pool_size">5</property>
        <!--SQL方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!--Hibernate session 上下文为线程级别 -->
        <property name="current_session_context_class">thread</property>
        <!--配置C3P0缓存连接池 -->
        <property name="cache.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 在连接池中数据库连接的最小数目-->
        <property name="c3p0.min_size">6</property>
        <!-- 在连接池中数据库连接的最大数目-->
        <property name="c3p0.max_size">50</property>
        <!-- 设定数据库连接超时时间-->
        <property name="c3p0.timeout">100</property>
        <!-- 可以被缓存的preparedStatement的最大数目-->
        <property name="c3p0.max_statement">50</property>
        <!-- 当连接池里面的连接用完时，c3p0一下获取的新的连接数-->
        <property name="c3p0.acquire_increment">1</property>
        <!-- 连接对象应该多长时间被自动校验的时间段，以秒为单位-->
        <property name="c3p0.idle_test_period">100</property>
        <!-- 最多可以创建prepareStatement对象个数就是可执行SQL语句对象的个数-->
        <property name="c3p0.max_statements">0</property>
        <!-- SQL语句输出-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- 自动更新数据库的级别-->
        <property name="hbm2ddl.auto">update</property>
        <!--
           create: 表示启动的时候先drop，再create
           create-drop：也表示创建，在系统关闭前drop
           update: 这个操作启动时候回去检查schema是否一致,如果不一致schema会更新,schema数据库对象集合
           validate:启动是验证现有schema与hibernate是否一致,如果不一致就不做更新
        -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>